<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softpuzzle.angkor.database.mapper.api.login.LoginMapper">

    <select id="getMyId" parameterType="Hashmap" resultType="Hashmap">
        /* LoginMapper.getMyId */
        SELECT
            phonecode as phoneCode
             , phonenumber as phoneNumber
             , status
             , uuid
        FROM ank_user
        WHERE userid = #{userId} OR phoneNumber = #{userId}/* userId 추가된 소스 */
          AND del_yn = 0
    </select>

    <select id="getUser" parameterType="Hashmap" resultType="Hashmap">
        /* LoginMapper.getUser */
        SELECT
            angkorid as angkorId
          , userid as userId /* userId 추가된 소스 */
          , email
          , DATE_FORMAT(birthday_dt, '%Y-%m-%d') AS birthday_dt
          , name as userName
          , gender
          , greeting_text as profileMessage
          , icon as profileUrl
          , phonecode
          , phonenumber
          , privacy_profile
          , show_profile
          , qrcode_url as qrcodeUrl
        FROM ank_user
        WHERE userid = #{userId} OR phoneNumber = #{userId}/* userId 추가된 소스 */
          AND del_yn = 0
          AND status = 1
    </select>

    <select id="getChatting" parameterType="Hashmap" resultType="Hashmap">
        /* LoginMapper.getChatting */
        SELECT
            in_chatbackop AS inChatbackop,
            in_chatmbackop AS inChatmbackop,
            in_image_resolution AS inImageResolution,
            in_sortrooms AS inSortrooms,
            in_videos AS inVideos,
            in_videos_convert AS inVideosConvert
        FROM ank_sys_chatting
        WHERE angkorid = #{angkorId}
    </select>

    <select id="getDisplay" parameterType="Hashmap" resultType="Hashmap">
        /* LoginMapper.getDisplay */
        SELECT
            ank_group_code_child.ord as backgroundSeq,
            ank_group_code_child.child_code_name_en  AS inChatbackground,
            ank_sys_display.in_fontsize AS inFontsize,
            ank_sys_display.in_nightmode AS inNightmode,
            ank_sys_display.in_themes AS inThemes
        FROM ank_sys_display
                 left join ank_group_code_child on ank_group_code_child.child_code = ank_sys_display.in_chatbackground
            and ank_group_code_child.group_code = 'G008'
        WHERE angkorid = #{angkorId}
    </select>

    <select id="getFriends" parameterType="Hashmap" resultType="Hashmap">
        /* LoginMapper.getFriends */
        SELECT
            add_auto AS addAuto,
            in_allow_others AS inAllowOthers,
            in_recommend_friends AS inRecommendFriends
        FROM ank_sys_friends
        WHERE angkorid = #{angkorId}
    </select>

    <select id="getNoti" parameterType="Hashmap" resultType="Hashmap">
        /* NotiMapper.getNoti */
        SELECT
            add_auto AS addAuto,
            in_appsounds AS inAppsounds,
            in_count_unread_message AS inCountUnreadMessage,
            in_name_on_lock_screen AS inNameOnLockScreen,
            in_new_contacts AS inNewContacts,
            in_preview AS inPreview,
            in_vibrate AS inVibrate,
            new_group AS newGroup
        FROM ank_sys_noti
        WHERE angkorid = #{angkorId}
    </select>

    <select id="getPrivacy" parameterType="Hashmap" resultType="Hashmap">
        /* NotiMapper.getPrivacy */
        SELECT
            in_call_range AS inCallrange,
            in_email_open AS inEmailOpen,
            in_faceid AS inFaceid,
            in_group_range AS inGroupRange,
            in_message_range AS inMessageRange,
            in_online_range AS inOnlineRange,
            in_photo_range AS inPhotoRange,
            in_twostep AS inTwostep
        FROM ank_sys_security
        WHERE angkorid = #{angkorId}
    </select>

    <update id="updateLoginDtAndPublicKey" parameterType="HashMap">
        /* NotiMapper.updateLoginDtAndPublicKey */
        UPDATE ank_user
           SET lastaccess_dt = NOW(),
               public_key = #{publicKey}
         where angkorid = #{angkorId}
    </update>

    <update id="updateUuid" parameterType="HashMap">
        /* NotiMapper.updateUuid */
        UPDATE ank_user
        SET update_dt = NOW(), uuid = #{uuid}
        where angkorid = #{angkorId}
    </update>

</mapper>

